header
footer
  margin 1rem
  user-select none
  text-align center
  font-size 1.25rem

  a
    color inherit
    position relative
    text-decoration none
    border-radius border-curve
    -webkit-tap-highlight-color tap-bg

    &:focus-visible
      outline edge-style main-fg

    &::before
      left 0
      width 100%
      content ''
      display block
      height 0.125rem
      bottom -0.25rem
      position absolute
      background main-fg
      transform scaleX(0)
      border-radius border-curve
      transform-origin bottom right
      transition transform transition-config

    @media (hover hover)
      &:hover::before
        transform scaleX(1)
        transform-origin bottom left

header
  font-size 1.375rem

  span
    margin 0 0.75rem

  button
    color main-fg
    cursor pointer
    height 2.25rem
    min-width 2.5rem
    background transparent
    border-radius border-curve
    transition transition-config
    border edge-style transparent
    transition-property outline, background
    -webkit-tap-highlight-color tap-fg

    &:focus-visible
      outline edge-style highlight

    @media (hover hover)
      &:hover
        background highlight

  .active-lang
    cursor default
    background highlight
