#editor
  color field-bg
  margin 0 0.5rem
  max-width 95svw
  width 49.625rem
  background main-fg
  padding 0.75rem 1rem
  box-shadow main-shadow
  border-radius border-curve

  input
  textarea
    resize none
    color preview-fg
    min-height 1.5rem
    background white
    caret-color main-fg
    padding 0.375rem 0.5rem
    border-radius border-curve
    border edge-style transparent
    outline edge-style transparent
    transition border-color transition-config

    @media (hover hover)
      &:hover
      &:hover
        border-color highlight
        outline edge-style transparent

    &:focus
    &:focus
      border-color highlight
      outline edge-style transparent

  .editor-section
    gap 0.75rem
    display flex
    overflow-y auto
    max-height 70rem
    margin-top 0.5rem
    scrollbar-width none
    margin-bottom 0.5rem
    flex-direction column
    transition transition-config
    transition-property max-height, margin-top

    .add-btn
      border 0
      height 3rem
      margin 0 1px
      color main-fg
      cursor pointer
      font-size 1.25rem
      background preview-bg
      border-radius border-curve
      transition transition-config
      -webkit-tap-highlight-color tap-fg
      transition-property color, outline, background

      &:focus-visible
        outline edge-style highlight

      &:disabled
        color field-bg
        cursor not-allowed
        background transparent

      @media (hover hover)
        &:hover:not(:disabled)
          background main-bg

    &.closed
      max-height 0
      margin-top 0

    div
      display grid
      gap 0.75rem 1rem

    span
      display flex
      gap 0.375rem
      flex-direction column

  h1
  label
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    user-select none

    &::selection
      color main-fg
      background main-bg

  h1
    margin 0
    font-weight 500

  .editor-menu
    display flex
    min-width 100%
    color field-bg
    cursor pointer
    padding 0.25rem 0
    align-items center
    background transparent
    border-radius border-curve
    transition transition-config
    border edge-style transparent
    justify-content space-between
    -webkit-tap-highlight-color tap-fg
    transition-property outline, background

    &:focus-visible
      outline edge-style highlight

    @media (hover hover)
      &:hover
        background highlight

    h1
      text-align start

    div
      padding 0.625rem
      color field-bg
      background transparent
      border-radius border-curve
      transition transform transition-config

      &.open
        transform rotate(180deg)
