#preview
  margin 0 0.5rem
  overflow-y auto
  max-width 95svw
  color preview-fg
  scrollbar-width thin
  background preview-bg
  box-shadow main-shadow
  letter-spacing 0.0625px
  width calc(var(--preview-size) * 49.625)
  min-height calc(var(--preview-size) * 70)
  max-height calc(var(--preview-size) * 70)
  padding calc(var(--preview-size) * 1.4375) calc(var(--preview-size) * 2.9375)

  .content
    margin var(--preview-size) 0

  h1
  h2
  h3
  h4
  ul
  p
    margin 0
    font-weight 400
    word-break break-word

  h1
    line-height 1
    font-weight 500
    font-size calc(var(--preview-size) * 1.5)

  ul
    padding-left calc(var(--preview-size) * 2.5)

  a
    color inherit
    text-underline-offset 10%
    border-radius border-curve
    -webkit-tap-highlight-color tap-bg

    &:focus-visible
      outline edge-style main-fg

    @media (hover hover)
      &:hover
        box-shadow link-shadow
        background preview-link
